
// Color variables
//

$brand-color-primary: #F95C0E ;
$brand-color-secondary: #000000;
$brand-color-tertiary: orange;

$sans-serif: 'Open Sans', $font-stack-helvetica;
// ------------------------------------------------*/
// Base
// ------------------------------------------------*/

// Typography
// To set your em-base & base-line-height you can use :
// Golden ratio calculator <http://www.pearsonified.com/typography/>

// Set base
$em-base: 14px;
$base-line-height: 1.5em;
$base-font-family: "Arapey", Georgia, Times, "Times New Roman", serif;
$base-font-size: 16px;
$base-background-color: $white;
$base-font-color: $black;

$body-background: $base-background-color;
$body-font-color: $base-font-color;

$heading-font-family: $sans-serif;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 0;
$base-spacing: $base-line-height;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Action Colors : _base a links
$action-color: #13a1ff;

// Borders
$base-border-color: $white;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: '';
$form-box-shadow-focus: '';

// ------------------------------------------------*/
// LAYOUT & GRID
// Neat variables : http://thoughtbot.github.io/neat-docs/latest/#variable
// ------------------------------------------------*/

$max-width: 1050px;

// ------------------------------------------------*/
// Set the grid :
// http://gridulator.com/
// http://grid.guide/
// ------------------------------------------------*/

$susy: (
    columns: 8,
    gutters: .15,
    math: fluid,
    output: float,
    gutter-position: after,
    debug: (
        image: show,
        color: rgba(#66f, .25),
        output: overlay,
        toggle: top left,
    ),
    use-custom: (
      background-image: false,
      background-options: false,
      box-sizing: false,
      clearfix: false,
      rem: true,
    )
);

// ------------------------------------------------*/
// Sizes
// http://concisecss.com/documentation/core/breakpoints
// Media-queries Boilerplate : http://app.kodery.com/s/1075

// ------------------------------------------------*/


// xs
$extra-small: 320px;
// s
$small: 480px;
// m
$medium: 768px;
// l
$large: 960px;
// xl
$extra-large: 1140px;

// ------------------------------------------------*/
// Breakpoints
// http://include-media.com/
// ------------------------------------------------*/
// http://include-media.com/
// http://thesassway.com/intermediate/responsive-web-design-in-sass-using-media-queries-in-sass-32
// https://css-tricks.com/approaches-media-queries-sass/

$breakpoints: (
  'phone': 430px,
  'tablet': 768px,
  'desktop': 1024px
) !default;

// ------------------------------------------------*/
// Debug
// ------------------------------------------------*/
$visual-grid: false;
$show-baseline  : false;
$show-layout: false;
$show-w3c: false;
$sass-debug: false; // A utiliser pour tester une variable, map ou résultat

// ------------------------------------------------*/
// Components/ Addons
// ------------------------------------------------*/

$icon-set: (
	square: '\e001',
	chevron-down: '\e002',
	chevron-large: '\e003',
	chevron-left: '\e004',
	chevron-right: '\e005',
	chevron-up: '\e006',
	close: '\e007',
	gear: '\e008',
	exclamation: '\e00a',
	code: '\e00b',
	hash: '\e00c',
	media: '\e00d',
	lessons: '\e00e',
	menu: '\e00f',
	minus: '\e010',
	multi-device-layouts: '\e011',
	performance: '\e012',
	plus: '\e013',
	question: '\e014',
	slash: '\e015',
	star: '\e016',
	check: '\e017',
	twitter: '\e800',
	github: '\e801',
	facebook: '\e802',
	gplus: '\e803',
	folder-open: '\e804',
	rss: '\e805',
	comment-reply: '\e806',
	phone: '\e807',
	folder: '\e808',
	address: '\e809',
	email: '\e80a',
	globe: '\e80b',
	user: '\e80c',
	calendar: '\e80d',
	search: '\e80e',
	resize-full: '\e80f',
	comments: '\e810',
	tag: '\e811',
	chevron-double-right: '\e812',
	quotation-mark-right: '\e813',
	shopping-cart: '\e814',
	filter: '\e815',
	trash: '\e816',
	pencil: '\e817',
	warning: '\e818',
	alert: '\e819',
	info: '\e81a',
	eye: '\e81b',
	eye-off: '\e81c',
);
