


figure.caption-overlay{
	
  position:relative;

  overflow: hidden; 
  &, figcaption {
    width:355px;
    height:355px;
  }
  figcaption {
    position: absolute;
    top: 0;
	
    opacity: 0;
    transition: all 0.6s ease;
    
    background-color: rgba($white,.5);
    color: $black;
  }
  
  .content {
	   
    
    padding: 1rem;

    margin-top: 3rem;
    font-family: $sans-serif;
    text-align: center;
	font-style: normal;
    
      .caption-title {
        font-weight: 900;
      }
      .caption-description {
        font-weight: normal;
      }
  }
  
  &.caption--left{
    figcaption{
      left:-30%;
      &:hover{
        left:0;
      }
    }
  }
  
  
  &:hover figcaption {
    opacity: 1;
  }
  
  
  
}




/* # Flip-box

https://codepen.io/darkwing/pen/bCali?editors=1100



Markup:
<div class="flip-container" ontouchstart="this.classList.toggle('hover');">
  <div class="flipper">
    <div class="front">
      <span class="name">David Walsh</span>
    </div>
    <div class="back">
      <div class="back-logo"></div>
      <div class="back-title">@davidwalshblog</div>
      <p>Mozilla Web Developer, MooTools & jQuery Consultant, MooTools Core Developer, Javascript Fanatic, CSS Tinkerer, PHP Hacker, and web lover.</p>
    </div>
  </div>
</div>

Styleguide components.flipbox
*/
.flip-container {
	perspective: 1000;

	//border: 1px solid #ccc;
	
	&:hover .flipper,  
	&.hover .flipper {
		transform: rotateY(180deg);
	}
	
	& .front, .back {
		width: span(3);
		height: span(3);
	}
	
	.flipper {

		transition: 0.6s;
		transform-style: preserve-3d;
	
		position: relative;
	}
	
	.front, .back {

		backface-visibility: hidden;

		position: absolute;
		top: 0;
		left: 0;
	}
	.front {

		z-index: 2;
	}

	.back {
	
		transform: rotateY(180deg);
	
		background: #f8f8f8;
	}
}









