$hero-title-font-family: "Bebas", $sans-serif !default;
.hero{
	width: 100%;
	position: relative;
	//height: 350px;
	padding: $base-spacing 0;
	@include clearfix();
	
	background-color: #d0e9ee ;
	
	
	.hero-thumbnail{
		@include media('>phone'){
			@include span(2);
		};
	}
	.hero-content{
		@include media('>phone'){
			@include span(7 last);
			
		}
		
		
		
		.title {
			@include vertical-align(y, absolute);
			
			& :first-of-type {
				font-family: $hero-title-font-family;
				font-weight: normal;
				text-transform: uppercase;
				letter-spacing: .3em;
			}
		}
	}
}