node_modules/
package-lock.json

.svn/*
.komodotools/
*.komodoproject
.sass-cache/
*.css.map
build/

PROJECTS/*
!PROJECTS/README.md

_EXTENSIONS/*
!_EXTENSIONS/.bowerrc
!_EXTENSIONS/bower.json
!_EXTENSIONS/README.md

_JS_LIBS/*
!_JS_LIBS/.bowerrc
!_JS_LIBS/bower.json
!_JS_LIBS/README.md

_FRAMEWORKS/*
!_FRAMEWORKS/.bowerrc
!_FRAMEWORKS/bower.json
!_FRAMEWORKS/README.md

_templates/*
!_templates/README.md
