node_modules/
package-lock.json

.svn/*
.komodotools/
*.komodoproject
.sass-cache/
*.css.map
build/

PROJECTS/*

!_EXTENSIONS/.bowerrc
!_EXTENSIONS/bower.json
_EXTENSIONS/*

!_FRAMEWORKS/.bowerrc
!_FRAMEWORKS/bower.json
_FRAMEWORKS/*

_JS_LIBS/
