<!doctype html>
<html class="no-js"  lang="{{ app.lang }}">
	<head>
		<meta  charset="utf-8">
		<script type="text/javascript">/*<![CDATA[*/(function(H){H.className=H.className.replace(/\bno-js\b/,'js')})(document.documentElement);/*]]>*/</script>
		{% include '_partials/commons/head.twig' %}
	</head>
  <body class="page_sommaire">
    <div class="skipnav">
		<ul class="menu-liste menu-items">
			<li class="menu-entree item">
				<a href="#navigation">Aller au menu</a> 
			</li>
			<li class="menu-entree item">
				<a href="#content">Aller au contenu</a> 
			</li>
		</ul>
	</div>
	<!--[if lt IE 9]>
    <p class="browsehappy">Vous utilisez un navigateur <strong>obsol&egrave;te</strong>. Merci de le mettre &agrave; jour avec <a href="http://browsehappy.com/">un des navigateurs suivant</a> et profitez d'une navigation s&eacute;curis&eacute;e et rapide.</p>
    <![endif]-->
    <div class="page">
		<header id="header">
			<dix class="wrapper">
				{% include '_partials/commons/header.twig' %}
			</dix>
        </header>
    
        
		<main id="content">
			<div class="wrapper">
			{% block content %}{% endblock %}
			</div>
		</main>  
        
        
        <aside class="aside">
            {% block aside %}{% endblock %}
        </aside>
        
        <div id="extra" role="complementary">
            {% block extra %}{% endblock %}
        </div>
        
    </div>
    
    <footer id="footer">
        <div class="wrapper">
            {% include '_partials/commons/footer.twig' %}
        </div>
    </footer>
    
    
  </body>
</html>