/* ::::: https://fonts.googleapis.com/css?family=Roboto:300,400,500,700 ::::: */

@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('0ec6fl06luxeywpbsjvxcix0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('fl4y0qdoxyythegmxx8kcyx0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('-l14jk06m6puhb-5mxqqnyx0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('i3s1wsgsg9ycurv6puktoyx0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('nydwbdd4giq26g5xybhsfix0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('pru33qjshpzsmg3z6vywnyx0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 300;
	src: local("Roboto Light"), local("Roboto-Light"), url('hgo13k-tfspn0qi1sfdufzbw1xu1rkptjj_0jans920.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"), url('stdaa6j0psb920vjv-mrzh-_kf6byyo6clydb4hqe-y.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"), url('uyecmkohco9x1wdmbyhim3-_kf6byyo6clydb4hqe-y.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"), url('tnj4sb6dnbdaqnsm8cfqbx-_kf6byyo6clydb4hqe-y.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"), url('_vyfx-s824kxq_ul2bhqyh-_kf6byyo6clydb4hqe-y.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"), url('nj4vxlgwwwbesv18dahqnn-_kf6byyo6clydb4hqe-y.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"), url('ks_cvxiciwuwvsfwfa3bjn-_kf6byyo6clydb4hqe-y.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	src: local("Roboto"), local("Roboto-Regular"), url('ommgfzmqthoryqo9n22dcuvvdin1pk8aktelpez5c0a.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: local("Roboto Medium"), local("Roboto-Medium"), url('zlqkeelybatg60epzbsdy4x0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: local("Roboto Medium"), local("Roboto-Medium"), url('ohi30kwqwvpcwqahzhccsix0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: local("Roboto Medium"), local("Roboto-Medium"), url('rgvhdjnr2l75qb0ynd9nyix0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: local("Roboto Medium"), local("Roboto-Medium"), url('mx9uck6ub63vikfynemxryx0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: local("Roboto Medium"), local("Roboto-Medium"), url('mbmhprmh69zi6eepbyvfhyx0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: local("Roboto Medium"), local("Roboto-Medium"), url('ooefwznlrtefzlymlvv1uix0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	src: local("Roboto Medium"), local("Roboto-Medium"), url('rxzjdnzeo3r5zsexge8uuzbw1xu1rkptjj_0jans920.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('77fxfjrbgzn4acrsfhlh3ox0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+460-52F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('isz-wbcxnkabnjo6_twhtox0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+400-45F, U+490-491, U+4B0-4B1, U+2116;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('ux6i4jxqdm3fvtc1cpuwqox0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+1F00-1FFF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('jsn2cgvdbcvycnfjfjsdfix0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+370-3FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('pwzc-ybil414wb9rb1iapyx0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+102-103, U+1EA0-1EF9, U+20AB;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('97uahxiqzroncbacei3aw4x0hvgzzqufrduzrpvh3d8.woff2') format("woff2");
	unicode-range: U+100-24F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
@font-face {
	font-family: "Roboto";
	font-style: normal;
	font-weight: 700;
	src: local("Roboto Bold"), local("Roboto-Bold"), url('d-6iyplofoccackzxwxsojbw1xu1rkptjj_0jans920.woff2') format("woff2");
	unicode-range: U+0-FF, U+131, U+152-153, U+2C6, U+2DA, U+2DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
.gm-style .gm-style-cc span, .gm-style .gm-style-cc a, .gm-style .gm-style-mtc div { font-size: 10px; }
@media screen {
	.gm-style .gmnoscreen, .gmnoscreen { display: none; }
}
.gm-style-pbc { transition: opacity 0s ease-in-out 0s; background-color: rgba(0, 0, 0, 0.45); text-align: center; }
.gm-style-pbt { font-size: 22px; color: white; font-family: Roboto,Arial,sans-serif; position: relative; margin: 0px; top: 50%; transform: translateY(-50%); }
.gm-inset { display: inline-block; }
.gm-inset-map { border-radius: 3px; border-style: solid; border-width: 2px; box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3); box-sizing: border-box; overflow: hidden; position: relative; cursor: pointer; }
.gm-inset-hover-enabled:hover .gm-inset-map { border-width: 4px; margin: -2px; }
.gm-inset-hover-enabled:hover .gm-inset-map.gm-inset-map-small { width: 46px; }
.gm-inset-light { background-color: white; border-color: white; }
.gm-inset { display: inline-block; }
.gm-inset-map { border-radius: 3px; border-style: solid; border-width: 2px; box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.3); box-sizing: border-box; overflow: hidden; position: relative; cursor: pointer; }
.gm-inset-hover-enabled:hover .gm-inset-map { border-width: 4px; margin: -2px; }
.gm-inset-hover-enabled:hover .gm-inset-map.gm-inset-map-small { width: 46px; }
.gm-inset-light { background-color: white; border-color: white; }
html, body, #mapDiv { height: 100%; margin: 0px; padding: 0px; }
.gm-style .icon { background-image: url('entity11.png'); background-size: 70px 210px; }
@media not all, (min-resolution: 1.2dppx), (min-resolution: 116dpi) {
	.gm-style .icon { background-image: url('entity11_hdpi.png'); background-size: 70px 210px; }
}
@media not all, (min-resolution: 1.2dppx), (min-resolution: 116dpi) {
}
div.login-control { font-family: Roboto,Arial; font-size: 11px; color: white; margin-top: 10px; margin-right: 10px; font-weight: 500; box-shadow: 0px 1px 4px -1px rgba(0, 0, 0, 0.298); }
div.login { border-radius: 2px; background-color: rgb(95, 132, 242); padding: 4px 8px; cursor: pointer; }
.gm-style .login-control .tooltip-anchor { color: rgb(91, 91, 91); display: none; font-family: Roboto,Arial; font-size: 12px; font-weight: normal; -moz-user-select: text; width: 50%; }
.gm-style .login-control:hover .tooltip-anchor { display: inline; }
.gm-style .login-control .tooltip-content { background-color: white; font-weight: normal; left: -150px; width: 150px; }
div.login a:link { text-decoration: none; color: inherit; }
div.login a:visited { color: inherit; }
div.login a:hover { text-decoration: underline; }
div.email-account-learn { float: left; }
div.email { font-weight: 500; font-size: 12px; padding: 6px; }
a.profile-photo-link-float { float: left; }
.gm-style .g-logo { background-position: -21px -138px; display: inline-block; height: 12px; padding-right: 6px; vertical-align: middle; width: 8px; }
.gm-style { font: 400 11px Roboto,Arial,sans-serif; text-decoration: none; }
.gm-style img { max-width: none; }
.gm-style .place-card div, .gm-style .place-card a, .gm-style .default-card div, .gm-style .default-card a { color: rgb(91, 91, 91); font-family: Roboto,Arial; font-size: 12px; -moz-user-select: text; }
.gm-style .place-card, .gm-style .default-card, .gm-style .directions-card { cursor: default; }
.gm-style .place-card-large { padding: 9px 4px 9px 11px; }
.gm-style .place-card a:link, .gm-style .default-card a:link, .gm-style .directions-card a:link { text-decoration: none; color: rgb(58, 132, 223); }
.gm-style .place-card a:visited, .gm-style .default-card a:visited, .gm-style .directions-card a:visited { color: rgb(58, 132, 223); }
.gm-style .place-card a:hover, .gm-style .default-card a:hover, .gm-style .directions-card a:hover { text-decoration: underline; }
.gm-style .place-desc-large { width: 200px; display: inline-block; }
.gm-style .place-card .place-name { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; font-weight: 500; font-size: 14px; color: black; }
.gm-style .place-card .address { margin-top: 6px; }
.gm-style .tooltip-anchor { width: 100%; position: relative; float: right; z-index: 1; }
.gm-style .star-entity .tooltip-anchor, .gm-style .star-entity-medium .tooltip-anchor, .gm-style .navigate .tooltip-anchor { width: 50%; display: none; }
.gm-style .star-entity:hover .tooltip-anchor, .gm-style .star-entity-medium:hover .tooltip-anchor, .gm-style .navigate:hover .tooltip-anchor { display: inline; }
.gm-style .tooltip-anchor > .tooltip-tip-inner, .gm-style .tooltip-anchor > .tooltip-tip-outer { width: 0px; height: 0px; border-left: 8px solid transparent; border-right: 8px solid transparent; background-color: transparent; position: absolute; left: -8px; }
.gm-style .tooltip-anchor > .tooltip-tip-outer { border-bottom: 8px solid rgb(203, 203, 203); }
.gm-style .tooltip-anchor > .tooltip-tip-inner { border-bottom: 8px solid white; z-index: 1; top: 1px; }
.gm-style .tooltip-content { position: absolute; top: 8px; left: -70px; line-height: 137%; padding: 10px 12px 10px 13px; width: 210px; margin: 0px; border: 1px solid rgba(0, 0, 0, 0.2); border-radius: 2px; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); background-color: white; }
.gm-style .navigate { display: inline-block; vertical-align: top; height: 43px; padding: 0px 7px; }
.gm-style .navigate-link { display: block; }
.gm-style .place-card .navigate-text, .gm-style .place-card .star-entity-text { margin-top: 5px; text-align: center; color: rgb(58, 132, 223); font-size: 12px; max-width: 55px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.gm-style .place-card .hidden { margin: 0px; padding: 0px; height: 0px; overflow: hidden; }
.gm-style .navigate-icon { width: 22px; height: 22px; overflow: hidden; margin: 0px auto; }
.gm-style .navigate-icon { border: 0px none; }
.gm-style .navigate-separator { display: inline-block; width: 1px; height: 43px; vertical-align: top; background: rgba(0, 0, 0, 0) -moz-linear-gradient(center top , rgb(251, 251, 251), rgb(226, 226, 226), rgb(251, 251, 251)) repeat scroll 0% 0%; }
.gm-style .star-entity { display: inline-block; vertical-align: top; height: 43px; padding: 0px 7px; }
.gm-style .star-entity .star-button { cursor: pointer; }
.gm-style .star-entity:hover .star-entity-text { text-decoration: underline; }
.gm-style .star-entity-icon-large { width: 22px; height: 22px; overflow: hidden; margin: 0px auto; }
.gm-style .logged-out-star, .logged-out-star:hover { position: relative; cursor: pointer; width: 22px; height: 22px; overflow: hidden; margin: 0px auto; }
.gm-style .review-box { padding-top: 5px; }
.gm-style .navigate-icon { background-position: 0px 0px; }
.gm-style .navigate:hover .navigate-icon { background-position: 48px 0px; }
.gm-style .logged-out-star { background-position: 96px 187px; }
.gm-style .star-button:hover .logged-out-star { background-position: 96px 187px; }
.gm-style .bottom-actions { padding-top: 10px; }
.gm-style .bottom-actions .google-maps-link { display: inline-block; }
.gm-style .bottom-actions .send-to-device-button { display: inline-block; padding-left: 15px; }
.saved-from-source-link { margin-top: 5px; max-width: 331px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
