<footer class="section_footer">
<div class="container">
<div class="row">
<div class="col-sm-9">
<p class="footer__copyright">
<span id="footer__year">2017</span> © Hortica Renovation
</p>
</div>
</div>
</div>
</footer>

{# <!-- rem


--> #}

{% for key,value in assets %}
    {{value.scripts|safe}}
{% endfor %}