<nav class="navbar navbar-fixed-top navbar-inverse">
		<div class="container">

			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar_main" aria-expanded="false">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
        <a class="navbar-brand" href="#">Hortica Renovation</a>
        <img src="{{app.images_path}}public/garantie2.png" style="width: 50px; margin-top: 15px;">
    </div>

    <div class="collapse navbar-collapse" id="navbar_main">
        <ul class="nav navbar-nav navbar-right">
            <li class=""><a href="#section_features">Notre service</a></li>
            <li class=""><a href="#section_portfolio">Nos réalisations</a></li>
            <li class=""><a href="#section_about">Nos engagements</a></li>
            <li class="active"><a href="#section_contact">Devis Gratuit</a></li>
        </ul>
    </div>
</div>
</nav>