<!DOCTYPE HTML>
<!--
	Editorial by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html lang="{{app.lang}}">
	<head>
		{% include '../_partials/commons/head.twig' %}
	</head>
	<body>
	<!--[if lt IE 9]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
	
			{# <!-- Wrapper --> #}
			<div id="wrapper">

				 {# <!-- Main --> #} 
					<div id="main">
						<div class="inner">
							{% include '../_partials/commons/header.twig' %}
								
							{% block content %}{% endblock %}
							

						</div>
					</div>

				{% include "../_partials/commons/sidebar.twig" %}

			</div>
		{% include "../_partials/assets/scripts.twig" %}
	</body>
</html>