
body {
	position: relative;
}

[class*="section_"] {
	position: relative;
	padding-top: 100px;
	padding-bottom: 100px;
}

[class*="section_"]+[class*="section_"] {
	border-top: 1px solid #eee;
}

[class*="section_"].section_alt {
	background-color: #f5f5f5;
}

media_tag_68 {
	media_subcode: 68
}

.h0 {
	font-size: 52px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	margin-top: 0;
	line-height: 1.42857143;
	font-weight: 400;
	text-transform: uppercase;
}

.page-header {
	margin-top: 0;
	padding-bottom: 0;
	border-bottom: 0;
}

.page-header>span {
	color: #FFAB00;
}

.page-subheader {
	max-width: 700px;
	margin-bottom: 3em;
	font-size: 16px;
}

.page-subheader.text-center {
	margin-left: auto;
	margin-right: auto;
}

ul.list-wf {
	list-style: none;
}

ul.list-wf>li {
	position: relative;
}

ul.list-wf>li:before {
	content: '\f375';
	font-family: 'Ionicons';
	position: absolute;
	top: -5px;
	left: -30px;
	font-size: 1.4em;
	color: #FFAB00;
}

::-moz-selection {
	background-color: #FFAB00;
	color: white;
}

::selection {
	background-color: #FFAB00;
	color: white;
}

.btn {
	border-color: transparent;
	font-family: 'Oswald', sans-serif;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: .05em;
	-webkit-transition: all .25s;
	transition: all .25s;
}

.btn:focus,
.btn:active,
.btn:focus:active {
	box-shadow: none;
}

.btn-default {
	border-color: #eee;
	font-weight: 500;
}

.btn-default:hover {
	border-color: transparent;
	background-color: #252525;
	font-weight: 400;
	color: white;
}

.btn-default:focus,
.btn-default:active,
.btn-default:focus:active {
	border-color: transparent;
	background-color: #252525;
	box-shadow: none;
	font-weight: 400;
	color: white;
}

.btn-primary:hover {
	border-color: transparent;
	background-color: #252525;
}

.btn-primary:focus,
.btn-primary:active,
.btn-primary:focus:active {
	border-color: transparent;
	background-color: #252525;
}

.btn-link {
	border-color: #FFAB00;
}

.btn-link:hover {
	border-color: white;
	background-color: transparent;
	color: white;
	text-decoration: none;
}

.btn-link:focus,
.btn-link:active,
.btn-link:focus:active {
	border-color: white;
	background-color: transparent;
	color: white;
	text-decoration: none;
}

form label {
	font-family: 'Oswald', sans-serif;
	font-weight: 400;
	font-size: 13px;
	text-transform: uppercase;
	letter-spacing: .05em;
	color: #777;
}

form .form-control {
	box-shadow: none !important;
}

form .form-control:focus {
	border-color: #FFAB00;
	box-shadow: none !important;
}

form .has-error .form-control {
	border-color: red;
}

form .has-error .help-block {
	color: red;
}

form .help-block {
	font-size: 14px;
}

.navbar {
	padding-top: 20px;
	padding-bottom: 20px;
	border: 0;
	-webkit-transition: padding-top 0.25s, padding-bottom 0.25s, background-color 0.25s;
	transition: padding-top 0.25s, padding-bottom 0.25s, background-color 0.25s;
}

.navbar-inverse {
	padding-top: 0;
	padding-bottom: 0;
}

media_tag_69 {
	media_subcode: 69
}

.navbar-fixed-top {
	padding-right: inherit;
}

.navbar-nav>li>a {
	position: relative;
	font-size: 14px;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	-webkit-transition: color .25s;
	transition: color .25s;
}

.navbar-nav>li>a:before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	border-top: 2px solid #FFAB00;
	-webkit-transform-origin: center;
	transform-origin: center;
	-webkit-transform: scale(0, 1);
	transform: scale(0, 1);
	-webkit-transition: all .25s;
	transition: all .25s;
}

media_tag_70 {
	media_subcode: 70
}

.navbar-brand {
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	text-transform: uppercase;
	letter-spacing: .1em;
}

.modal-content {
	box-shadow: none;
}

.progress {
	height: 2px;
	background-color: #eee;
	box-shadow: none;
}

.progress-bar {
	box-shadow: none;
}

.section_footer {
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #252525;
	color: rgba(255, 255, 255, 0.7);
}

.section_footer .footer__social {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: right;
}

.section_footer .footer__social>li {
	display: inline-block;
}

.section_footer .footer__social>li>a {
	width: 35px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	border-radius: 50%;
	display: block;
	background-color: rgba(0, 0, 0, 0.15);
	color: rgba(255, 255, 255, 0.7);
	-webkit-transition: all .25s;
	transition: all .25s;
}

.section_footer .footer__social>li>a:hover,
.section_footer .footer__social>li>a:active,
.section_footer .footer__social>li>a:focus {
	color: white;
}

.section_footer .footer__social>li>a:hover.twitter,
.section_footer .footer__social>li>a:active.twitter,
.section_footer .footer__social>li>a:focus.twitter {
	background-color: #55acee;
}

.section_footer .footer__social>li>a:hover.facebook,
.section_footer .footer__social>li>a:active.facebook,
.section_footer .footer__social>li>a:focus.facebook {
	background-color: #3B5998;
}

.section_footer .footer__social>li>a:hover.pinterest,
.section_footer .footer__social>li>a:active.pinterest,
.section_footer .footer__social>li>a:focus.pinterest {
	background-color: #c92026;
}

.section_footer .footer__social>li+li {
	margin-left: 2.5px;
}

media_tag_71 {
	media_subcode: 71
}

.section_footer .footer__copyright {
	margin: 0;
	padding: 5px 0;
	font-size: 14px;
}

media_tag_72 {
	media_subcode: 72
}

[class*="animate-"] {
	opacity: 0;
	-webkit-animation-fill-mode: forwards;
	animation-fill-mode: forwards;
	-webkit-animation-duration: 1s;
	animation-duration: 1s;
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease;
}

[data-animate] {
	opacity: 0;
}

media_tag_73 {
	media_subcode: 73
}

media_tag_74 {
	media_subcode: 74
}

media_tag_75 {
	media_subcode: 75
}

media_tag_76 {
	media_subcode: 76
}

media_tag_77 {
	media_subcode: 77
}

media_tag_78 {
	media_subcode: 78
}

media_tag_79 {
	media_subcode: 79
}

media_tag_80 {
	media_subcode: 80
}

media_tag_81 {
	media_subcode: 81
}

media_tag_82 {
	media_subcode: 82
}

media_tag_83 {
	media_subcode: 83
}

media_tag_84 {
	media_subcode: 84
}

media_tag_85 {
	media_subcode: 85
}

media_tag_86 {
	media_subcode: 86
}

media_tag_87 {
	media_subcode: 87
}

media_tag_88 {
	media_subcode: 88
}

media_tag_89 {
	media_subcode: 89
}

media_tag_90 {
	media_subcode: 90
}

media_tag_91 {
	media_subcode: 91
}

media_tag_92 {
	media_subcode: 92
}

media_tag_93 {
	media_subcode: 93
}

media_tag_94 {
	media_subcode: 94
}

media_tag_95 {
	media_subcode: 95
}

media_tag_96 {
	media_subcode: 96
}

media_tag_97 {
	media_subcode: 97
}

media_tag_98 {
	media_subcode: 98
}

media_tag_99 {
	media_subcode: 99
}

media_tag_100 {
	media_subcode: 100
}

media_tag_101 {
	media_subcode: 101
}

media_tag_102 {
	media_subcode: 102
}

media_tag_103 {
	media_subcode: 103
}

media_tag_104 {
	media_subcode: 104
}

media_tag_105 {
	media_subcode: 105
}

media_tag_106 {
	media_subcode: 106
}

media_tag_107 {
	media_subcode: 107
}

media_tag_108 {
	media_subcode: 108
}

media_tag_109 {
	media_subcode: 109
}

media_tag_110 {
	media_subcode: 110
}

media_tag_111 {
	media_subcode: 111
}

media_tag_112 {
	media_subcode: 112
}

.animate-down {
	-webkit-animation-name: animateDown;
	animation-name: animateDown;
}

@-webkit-keyframes animateDown {
	from {
		opacity: 0;
		-webkit-transform: translateY(-5vh);
		transform: translateY(-5vh);
	}

	to {
		opacity: 1;
		-webkit-transform: translateY();
		transform: translateY();
	}
}

@keyframes animateDown {
	from {
		opacity: 0;
		-webkit-transform: translateY(-5vh);
		transform: translateY(-5vh);
	}

	to {
		opacity: 1;
		-webkit-transform: translateY();
		transform: translateY();
	}
}

.animate-up {
	-webkit-animation-name: animateUp;
	animation-name: animateUp;
}

@-webkit-keyframes animateUp {
	from {
		opacity: 0;
		-webkit-transform: translateY(5vh);
		transform: translateY(5vh);
	}

	to {
		opacity: 1;
		-webkit-transform: translateY();
		transform: translateY();
	}
}

@keyframes animateUp {
	from {
		opacity: 0;
		-webkit-transform: translateY(5vh);
		transform: translateY(5vh);
	}

	to {
		opacity: 1;
		-webkit-transform: translateY();
		transform: translateY();
	}
}

.animate-left {
	-webkit-animation-name: animateLeft;
	animation-name: animateLeft;
}

@-webkit-keyframes animateLeft {
	from {
		opacity: 0;
		-webkit-transform: translateX(5vh);
		transform: translateX(5vh);
	}

	to {
		opacity: 1;
		-webkit-transform: translateX();
		transform: translateX();
	}
}

@keyframes animateLeft {
	from {
		opacity: 0;
		-webkit-transform: translateX(5vh);
		transform: translateX(5vh);
	}

	to {
		opacity: 1;
		-webkit-transform: translateX();
		transform: translateX();
	}
}

.animate-progress {
	-webkit-animation-name: animateProgress;
	animation-name: animateProgress;
	-webkit-animation-timing-function: ease;
	animation-timing-function: ease;
	-webkit-transform-origin: left center;
	transform-origin: left center;
	opacity: 1;
}

@-webkit-keyframes animateProgress {
	from {
		opacity: 1;
		-webkit-transform: scaleX();
		transform: scaleX();
	}

	to {
		opacity: 1;
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}
}

@keyframes animateProgress {
	from {
		opacity: 1;
		-webkit-transform: scaleX();
		transform: scaleX();
	}

	to {
		opacity: 1;
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}
}

.preloader,
.preloader__spinner {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.preloader {
	position: fixed;
	background: rgba(255, 255, 255, 0.9);
	overflow: hidden;
	z-index: 999998;
	-webkit-transition: opacity .5s;
	transition: opacity .5s;
	-webkit-transition-delay: 2s;
	transition-delay: 2s;
}

.preloader__spinner {
	position: absolute;
	margin: auto;
	z-index: 999999;
	-webkit-transition: opacity .5s;
	transition: opacity .5s;
	-webkit-animation: spinnerAnimation 1s ease-in-out infinite;
	animation: spinnerAnimation 1s ease-in-out infinite;
}

@-webkit-keyframes spinnerAnimation {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes spinnerAnimation {
	from {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	to {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

.preloader::before,
.preloader::after {
	content: '';
	display: block;
	position: absolute;
	width: 200%;
	height: 50%;
	left: -50%;
	background: #252525;
	-webkit-transition: all 1s ease-in;
	transition: all 1s ease-in;
	-webkit-transition-delay: 1s;
	transition-delay: 1s;
}

.preloader:before {
	top: 0;
	-webkit-transform-origin: right top;
	transform-origin: right top;
}

.preloader:after {
	bottom: 0;
	-webkit-transform-origin: left bottom;
	transform-origin: left bottom;
}

.preloader.active {
	opacity: 0
}

.preloader.active .preloader__spinner {
	-webkit-animation-play-state: paused;
	animation-play-state: paused;
	opacity: 0;
}

.preloader.active:before,
.preloader.active:after {
	-webkit-transform: scaleY() rotate(25deg);
	transform: scaleY() rotate(25deg);
}

.carousel-indicators>li {
	width: 12px;
	height: 12px;
	margin: 0;
	background-color: rgba(255, 255, 255, 0.5);
	border: 0;
}

.carousel-indicators>li.active {
	margin: 0;
	background-color: #FFAB00;
}

.carousel-control.left,
.carousel-control.right {
	width: 5%;
	background: none;
	opacity: 1;
}

.carousel-control.left>span,
.carousel-control.right>span {
	position: absolute;
	top: 50%;
	left: 50%;
	font-size: 1.5em;
	text-shadow: none;
	color: rgba(255, 255, 255, 0.5);
	-webkit-transform: translate(-50%);
	transform: translate(-50%);
}

.carousel-control.left:hover>span,
.carousel-control.right:hover>span {
	color: #FFAB00
}

@media (min-width: 768px) {
	.form-inline .form-group {
		display: inline-block;
		margin-bottom: 0;
		vertical-align: middle;
	}

	.form-inline .form-control {
		display: inline-block;
		width: auto;
		vertical-align: middle;
	}

	.form-inline .form-control-static {
		display: inline-block
	}

	.form-inline .input-group {
		display: inline-table;
		vertical-align: middle;
	}

	.form-inline .input-group .input-group-addon,
	.form-inline .input-group .input-group-btn,
	.form-inline .input-group .form-control {
		width: auto
	}

	.form-inline .input-group>.form-control {
		width: 100%
	}

	.form-inline .control-label {
		margin-bottom: 0;
		vertical-align: middle;
	}

	.form-inline .radio,
	.form-inline .checkbox {
		display: inline-block;
		margin-top: 0;
		margin-bottom: 0;
		vertical-align: middle;
	}

	.form-inline .radio label,
	.form-inline .checkbox label {
		padding-left: 0
	}

	.form-inline .radio input[type="radio"],
	.form-inline .checkbox input[type="checkbox"] {
		position: relative;
		margin-left: 0;
	}

	.form-inline .has-feedback .form-control-feedback {
		top: 0
	}
}

.owl-theme .owl-dots .owl-dot>span {
	width: 12px;
	height: 12px;
	margin: 0 2px;
	background-color: #999;
}

.owl-theme .owl-dots .owl-dot.active>span {
	background-color: #FFAB00
}

#topcontrol {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	border-radius: 50%;
	background-color: rgba(0, 0, 0, 0.75);
	font-size: 18px;
	color: white;
	-webkit-transition: background-color 0.25s;
	transition: background-color 0.25s;
}

#topcontrol:hover,
#topcontrol:active,
#topcontrol:focus {
	background-color: #FFAB00;
	color: white;
}

.sidebar {
	position: fixed;
	top: 0;
	right: 0;
	height: 100%;
	width: 100%;
	max-width: 250px;
	background-color: white;
	padding: 30px;
	box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.15);
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
	-webkit-transition: -webkit-transform 0.5s ease;
	transition: -webkit-transform 0.5s ease;
	transition: transform 0.5s ease;
	transition: transform 0.5s ease, -webkit-transform 0.5s ease;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	z-index: 99999;
}

@media (min-width: 768px) {
	.sidebar {
		padding: 40px
	}
}

.sidebar:before {
	content: '';
	width: 55px;
	height: 55px;
	position: absolute;
	top: 150px;
	right: 100%;
	border-radius: 5px 0 0 5px;
	background-color: white;
	box-shadow: 0 0 50px 0 rgba(0, 0, 0, 0.15);
	z-index: -2;
}

.sidebar:after {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: white;
	z-index: -1;
}

.sidebar.active {
	-webkit-transform: translateX();
	transform: translateX();
}

.sidebar__toggle {
	width: 55px;
	height: 55px;
	line-height: 55px;
	text-align: center;
	position: absolute;
	top: 150px;
	right: 100%;
	background-color: white;
	border-radius: 5px 0 0 5px;
	font-size: 20px;
	color: #353535;
	cursor: pointer;
	z-index: 0;
}

.sidebar__colors {
	list-style: none;
	padding-left: 0;
	margin-bottom: 25px;
}

.sidebar__colors:before,
.sidebar__colors:after {
	content: " ";
	display: table;
}

.sidebar__colors:after {
	clear: both
}

.sidebar__colors:before,
.sidebar__colors:after {
	content: " ";
	display: table;
}

.sidebar__colors:after {
	clear: both
}

.sidebar__colors>li {
	display: block;
	float: left;
	width: 33%;
	padding: 0 5px 5px 0;
}

.sidebar__colors>li>span {
	display: block;
	height: 0;
	padding-bottom: 100%;
	background-color: grey;
	cursor: pointer;
}

.sidebar__colors>li.brand-orange>span {
	background-color: #FFAB00
}

.sidebar__colors>li.brand-deep-orange>span {
	background-color: #FF7043
}

.sidebar__colors>li.brand-green>span {
	background-color: #9CCC65
}

.sidebar__colors>li.brand-teal>span {
	background-color: #26A69A
}

.sidebar__colors>li.brand-cyan>span {
	background-color: #26C6DA
}

.sidebar__colors>li.active>span {
	position: relative
}

.sidebar__colors>li.active>span:before {
	content: '\f383';
	font-family: 'Ionicons';
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: 22px;
	color: white;
}

.section_banner {
	padding-top: 0;
	padding-bottom: 0;
	overflow: hidden;
}

.section_banner .container .row {
	padding-top: 140px;
	padding-bottom: 100px;
}

@media (min-width: 768px) {
	.section_banner .container .row {
		display: -webkit-box;
		display: flex;
		-webkit-box-align: center;
		align-items: center;
		height: 100vh;
	}
}

.section_banner .banner__carousel {
	height: auto;
	width: 100%;
}

.section_banner .banner__carousel__img {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

.section_banner .banner__carousel__img:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

.section_banner .banner__iphone {
	width: 100%;
	max-width: 250px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.section_banner .banner__form {
	margin-top: 25px;
	padding: 30px;
	background-color: white;
	box-shadow: 0 10px 100px 0 rgba(0, 0, 0, 0.15);
}

@media (min-width: 768px) {
	.lead {
		font-size: 22.5px
	}

}

@media (max-width: 480px) {
	.section_banner .text-left {
		text-align: center
	}
}

@media (max-width: 767px) {
	.section_banner .btn {
		width: 100%
	}

	.section_banner .btn+.btn {
		margin-top: 10px
	}
}

.section_banner [class*="animate-"] {
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
}

.section_banner [class*="animate-down"] {
	-webkit-animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
	animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
}

.section_features .features__item {
	margin-bottom: 25px;
	text-align: center;
}

.section_features .features__item__icon {
	margin-bottom: 15px;
	font-size: 2.5em;
	color: #FFAB00;
}

.section_features .features__item__heading {
	margin-bottom: 15px
}

.section_portfolio {
	padding-top: 0;
	padding-bottom: 0;
	border-top: 0 !important;
}

.section_portfolio+[class*="section_"] {
	border-top: 0
}

.section_portfolio .container-fluid .row {
	padding-left: 2.5px;
	padding-right: 2.5px;
}

.section_portfolio .container-fluid .row [class*="col-"] {
	padding-left: 2.5px;
	padding-right: 2.5px;
}

.section_portfolio .portfolio__item {
	position: relative;
	margin-bottom: 5px;
}

.section_portfolio .portfolio__item__img {
	overflow: hidden
}

.section_portfolio .portfolio__item__img>img {
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}

.section_portfolio .portfolio__item__img__mask {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-pack: center;
	justify-content: center;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 15px;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	-webkit-transform: scale();
	transform: scale();
	-webkit-transition: opacity 1s ease;
	transition: opacity 1s ease;
}

.section_portfolio .portfolio__item__img__mask>* {
	-webkit-transform: translateY(100%);
	transform: translateY(100%);
	opacity: 0;
	-webkit-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

.section_portfolio .portfolio__item__img__mask>h3 {
	margin-bottom: 1em;
	color: white;
	-webkit-transform: translateY(-100%);
	transform: translateY(-100%);
}

.section_portfolio .portfolio__item__img:hover>img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.section_portfolio .portfolio__item__img:hover .portfolio__item__img__mask {
	-webkit-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.section_portfolio .portfolio__item__img:hover .portfolio__item__img__mask>* {
	-webkit-transform: translateY();
	transform: translateY();
	opacity: 1;
}

#modal_portfolio__img {
	margin-bottom: 25px
}

.section_pricing .pricing__item {
	margin-bottom: 25px;
	padding: 30px;
	background-color: white;
	border: 1px solid #eee;
	text-align: center;
	-webkit-transition: all .25s;
	transition: all .25s;
}

@media (min-width: 1200px) {
	.section_pricing .pricing__item {
		padding: 50px
	}
}

.section_pricing .pricing__item__heading {
	margin-bottom: 25px
}

.section_pricing .pricing__item__price {
	margin-bottom: 25px;
	line-height: 1;
	font-size: 3em;
	font-weight: 300;
	color: #FFAB00;
}

.section_pricing .pricing__item__price>small {
	vertical-align: baseline;
	font-size: 15px;
}

.section_pricing .pricing__item__features {
	list-style: none;
	padding: 25px 0 0;
	margin-bottom: 25px;
	border-top: 1px solid #eee;
}

.section_pricing .pricing__item__features>li+li {
	margin-top: 15px
}

.section_pricing .pricing__item:hover {
	box-shadow: 0 10px 100px 0 rgba(0, 0, 0, 0.14)
}

.section_team .team__item {
	margin-bottom: 25px
}

.section_team .team__item__footer {
	padding: 30px;
	background-color: white;
	border: 1px solid #eee;
	border-top: 0;
}

@media (min-width: 768px) {
	.form-horizontal .control-label {
		text-align: right;
		margin-bottom: 0;
		padding-top: 16px;
	}
	
}

.section_team .team__item__footer__heading {
	color: #FFAB00
}

.section_team .team__item__footer__heading>small {
	font-size: 15px;
	color: #353535;
}

.section_stats .stats__item {
	text-align: center
}

.section_stats .stats__item__value {
	font-family: 'Oswald', sans-serif;
	font-size: 56px;
	color: #FFAB00;
}

@media (max-width: 767px) {
	.section_stats .stats__item {
		margin-bottom: 25px
	}
}

@media (max-width: 767px) {
	.section_skills .skills__item:first-child {
		margin-top: 25px
	}
}

.section_skills .skills__item__heading {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.section_skills .skills__item__heading>small {
	margin-left: auto
}

@media (max-width: 767px) {
	.section_about .about__img {
		margin-top: 25px
	}
}

.section_about .about__img_iphone {
	max-width: 250px
}

.section_about .row_centered+.row_centered {
	margin-top: 50px
}

.section_about_2 {
	position: relative
}

.section_about_2 .features__item {
	margin-bottom: 25px
}

.section_about_2 .features__item__icon {
	margin-bottom: 15px;
	font-size: 2.5em;
	color: #FFAB00;
}

.section_about_2 .features__item__heading {
	margin-bottom: 15px
}

@media (max-width: 991px) {
	.section_about_2 .about_2__image {
		padding: 25px 10px 0 10px
	}

	.section_about_2 .about_2__image>img {
		display: block;
		max-width: 100%;
		height: auto;
	}
}

@media (min-width: 992px) {
	.section_about_2 .about_2__image {
		display: -webkit-box;
		display: flex;
		position: absolute;
		top: 100px;
		bottom: 100px;
		left: 66.666%;
		right: 0;
		overflow: hidden;
	}

	.section_about_2 .about_2__image>img {
		height: 100%;
		width: auto;
	}
}

.section_testimonials .testimonials__blockquote {
	margin-bottom: 25px;
	padding: 30px;
	border: 1px solid #eee;
	background-color: white;
}

@media (min-width: 1200px) {
	.section_testimonials .testimonials__blockquote {
		padding: 50px
	}
}

.section_testimonials .testimonials__blockquote>p {
	margin-bottom: 25px;
	font-size: 15px;
	font-style: italic;
}

.section_testimonials .testimonials__blockquote>p:before {
	content: open-quote
}

.section_testimonials .testimonials__blockquote>p:after {
	content: close-quote
}

.section_testimonials .testimonials__blockquote>footer {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.section_testimonials .testimonials__blockquote>footer:before {
	display: none
}

.section_testimonials .testimonials__blockquote>footer>img {
	width: 50px;
	height: 50px;
	margin-right: 15px;
	border-radius: 50%;
}

.section_testimonials .testimonials__blockquote>footer>div>h3 {
	margin-bottom: 0
}

.section_testimonials .testimonials__blockquote>footer>div>cite {
	font-size: 14px
}

.section_testimonials .testimonials__more {
	margin-top: 25px
}

.section_news .news__item {
	display: block;
	margin-bottom: 25px;
	color: #777;
	-webkit-transition: all .25s;
	transition: all .25s;
}

.section_news .news__item:hover,
.section_news .news__item:active,
.section_news .news__item:focus {
	text-decoration: none;
	box-shadow: 0 10px 100px 0 rgba(0, 0, 0, 0.14);
}

.section_news .news__item__img {
	position: relative;
	text-align: center;
}

.section_news .news__item__img__date {
	position: absolute;
	top: 20px;
	left: -10px;
	padding: 10px 20px;
	line-height: 1.2;
	font-size: 13px;
	background-color: #FFAB00;
	color: white;
}

.section_news .news__item__img__date>span {
	display: block;
	font-size: 18px;
	font-weight: bold;
	font-family: 'Oswald', sans-serif;
}

.section_news .news__item__img__date:before {
	content: '';
	position: absolute;
	bottom: 100%;
	left: 0;
	width: 0;
	height: 0;
	border-right: 10px solid #e69a00;
	border-top: 10px solid transparent;
}

.section_news .news__item__footer {
	padding: 30px;
	background-color: white;
	border: 1px solid #eee;
	border-top: 0;
}

@media (min-width: 1200px) {
	.section_news .news__item__footer {
		padding: 40px
	}
}

.section_news .news__item__footer__heading {
	color: #353535
}

.section_contact {
	position: relative;
	background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 50%, transparent 0);
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 50%, transparent 0);
}

.section_contact:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 50%;
	left: 0;
	background: url('../../images/public/anim2.jpg') no-repeat center center / cover;
	z-index: -1;
}

.section_contact .page-header {
	color: white
}

.section_contact .page-subheader {
	color: rgba(255, 255, 255, 0.7)
}

.section_contact #form_message {
	display: none
}

.section_contact #form_message.alert-success {
	display: block
}

.section_contact .contact__container {
	box-shadow: 0 10px 100px 0 rgba(0, 0, 0, 0.05)
}

.section_contact .contact__container__form,
.section_contact .contact__container__info {
	padding: 30px
}

@media (min-width: 1200px) {
	.section_contact .contact__container__form,
	.section_contact .contact__container__info {
		padding: 50px
	}
}

.section_contact .contact__container__form {
	width: 100%;
	background-color: white;
	border: 1px solid #eee;
}

.section_contact .contact__container__form h3 {
	margin-bottom: 25px
}

.section_contact .contact__container__info {
	width: 100%;
	margin: 0;
	background-color: #f5f5f5;
	border: 1px solid #eee;
	border-left-width: 0;
	list-style: none;
}

@media (max-width: 767px) {
	.section_contact .contact__container__info {
		border-left-width: 1px;
		border-top-width: 0;
	}
}

.section_contact .contact__container__info>li {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.section_contact .contact__container__info>li>i {
	font-size: 1.2em;
	margin-right: 25px;
	color: #FFAB00;
}

.section_contact .contact__container__info>li>p {
	margin: 0
}

.section_contact .contact__container__info>li>p>a {
	color: #777
}

.section_contact .contact__container__info>li>p>a:hover,
.section_contact .contact__container__info>li>p>a:active,
.section_contact .contact__container__info>li>p>a:focus {
	color: #FFAB00;
	text-decoration: none;
}

.section_contact .contact__container__info>li+li {
	margin-top: 15px
}

@media (min-width: 768px) {
	.section_contact .contact__container>.row {
		display: -webkit-box;
		display: flex;
		-webkit-box-align: stretch;
		align-items: stretch;
		padding-left: 15px;
		padding-right: 15px;
	}

	.section_contact .contact__container>.row [class*="col-"] {
		display: -webkit-box;
		display: flex;
		-webkit-box-align: stretch;
		align-items: stretch;
		padding-left: 0;
		padding-right: 0;
	}
}

.section_screenshots .screenshots__carousel__item {
	padding-left: 7.5px;
	padding-right: 7.5px;
}

@media (max-width: 767px) {
	.section_screenshots .screenshots__carousel {
		margin-top: 25px
	}
}

.section_download .download__buttons>a img {
	height: 40px;
	width: auto;
}

.section_services .services__item {
	margin-bottom: 25px;
	padding: 30px;
	background-color: #f5f5f5;
	text-align: center;
}

@media (min-width: 768px) {
	.form-horizontal .form-group-lg .control-label {
		padding-top: 11px;
		font-size: 16px;
	}
	
}

.section_services .services__item__icon {
	margin-bottom: 25px;
	line-height: 1;
	font-size: 4em;
	color: #FFAB00;
}

.section_services .services__item__content {
	margin-bottom: 50px
}

@media (max-width: 767px) {
	.section_experience .skills__item:first-child {
		margin-top: 25px
	}
}

.section_experience .skills__item__heading {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	align-items: center;
}

.section_experience .skills__item__heading>small {
	margin-left: auto
}

.section_experience .experience__timeline {
	position: relative;
	padding-left: 0;
	list-style: none;
}

.section_experience .experience__timeline>li {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	padding: 30px;
	border: 1px solid #eee;
}

@media (min-width: 768px) {
	.section_experience .experience__timeline>li {
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		flex-direction: row;
		-webkit-box-align: center;
		align-items: center;
		padding: 40px;
	}
}

.section_experience .experience__timeline>li+li {
	margin-top: 25px
}

.section_experience .experience__timeline__logo {
	min-width: 90px;
	padding-right: 40px;
	font-size: 4em;
	color: #999;
}

@media (min-width: 768px) {
	.section_experience .experience__timeline__logo {
		text-align: center
	}
}

.section_experience .experience__timeline__heading {
	margin-bottom: 0
}

.section_experience .experience__timeline__position {
	margin-bottom: 10px;
	font-size: 14px;
	font-style: italic;
	color: #999;
}

#fullpage__carousel {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

#fullpage__carousel:before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.5);
}

#fullpage [class*="section_"] {
	border-top: 0
}

#fullpage [class*="section_"].section_alt {
	background-color: transparent
}

#fullpage .section_banner .container .row {
	height: auto
}

#fullpage .section_portfolio .portfolio__item {
	margin-bottom: 25px
}

#fullpage .section_contact {
	background: none
}

#fullpage .section_contact:before {
	display: none
}

#fullpage__body .sidebar__parallax {
	cursor: not-allowed;
	opacity: .35;
}

#fullpage__body .sidebar__parallax:hover,
#fullpage__body .sidebar__parallax:active,
#fullpage__body .sidebar__parallax:focus {
	background-color: white;
	border-color: #eee;
	color: #353535;
	outline: none;
}

.section_layouts .layouts__item {
	display: block;
	margin-bottom: 30px;
	color: #777;
	-webkit-transition: all .25s;
	transition: all .25s;
}

.section_layouts .layouts__item:hover,
.section_layouts .layouts__item:active,
.section_layouts .layouts__item:focus {
	text-decoration: none
}

.section_layouts .layouts__item__img {
	position: relative;
	text-align: center;
}

.section_layouts .layouts__item__footer {
	padding: 30px;
	background-color: white;
	border: 1px solid #eee;
	border-top: 0;
}

.section_layouts .layouts__item__footer__heading {
	margin: 0;
	text-align: center;
	color: #353535;
	letter-spacing: .05em;
}

.section_layouts+.section_footer {
	background-color: white;
	color: #777;
}