// Composition ajoute par fragment_artist
// Filtrage par sous-rubriques
@keyframes zoom-in {
  0% {
   transform: scale(.1);
  }
  100% {
    transform: none;
  }
}

@keyframes rotate-right {
  0% {
    transform: translate(-100%) rotate(-100deg);
  }
  100% {
    transform: none;
  }
}

.is-animated {
  animation: .6s zoom-in;
  // animation: .6s rotate-right; 
}

.composition_documents_portfolio {
    p.publication{
      @extend .visuallyhidden;
    }
    .filter-box ul > li a {
        @include badge(); // addons/ui-kit/badges
        border: 1px solid rgba($black, .5);
        color: $black;
        &:hover,&:focus{

        }
        &.on{
            color: $green;
            border-color: $green;
        }
    }
    .liste.documents_portfolio {
        & ul {

        }
        & li {
            transition:all .8s linear;
        }
    }
}