// Blog
// Page rubrique contenant les blog posts
@import "components/layouts/layout-gala";
$blocks: (
  wrapper: '.container',
  content: '.content-main, .content-footer',
  aside: '.content-aside',
  extra: '.content-extra'
);
$container-width: span(8) !default;
$content-width: span(6 of 8) !default;
$aside-width: span(2 of 8) !default;
$extra-width: $aside-width !default;
$gutter: gutter() !default;
.composition_blog_post,
.composition_blog{
	#content .wrapper {
		max-width: $max-width;
		margin: 0 auto;
    overflow: hidden; // [] on contrain au wrapper pour ne pas déborder avec layout gala et son container 
	}
	@include media('>tablet'){
			@include lg-26($content-width,$aside-width,$extra-width,$container-width,$gutter);
	}
}



.composition_blog .content-header {

	border-bottom: 1px solid rgba($black, .3);
	
	@include clearfix;
	
	.thumbnail {
		float: left;
		margin-right: $base-spacing;
		img{
			@extend %img-circle;
			border: 1px solid rgba($black, .3);
		}
	}
	.title {
		font-size: 1.8rem;
		padding-top: $base-spacing; 
	}
	.chapo {
		font-family: $serif;
		font-style: italic;
	}
	.publication{
		text-align: right;
		font-size: .8rem;
	}

}
/* # Comments

http://www.webdesigndev.com/24-wonderful-but-different-blog-comment-form-designs/
*/

@import "../components/comments";


/* composition pour la rubrique Blog
 *
 * liste des derniers post
*/
.composition_blog {
	

	.list-items.blog-posts .item {
		$bg-color: lighten($light-gray, 10);
		
		margin-top: $base-spacing;
	
		.item-header {
			font-size: .8em;
			padding: $small-spacing;
			height: $base-spacing * 2;
			
			border-style: solid;
			border-color: $bg-color;
			@include border-width(1px 1px 0 1px);
			@include border-top-radius($base-border-radius);
	
		}
		.publication {
			.avatar {
				@extend %img-circle;
				vertical-align: middle;
				margin-right: .5em;
			}
			.author {
				float: left;
			}
			.date {
				float: right;
			}
		}
			
			.item-content{
				background-color: $bg-color;
				padding: $small-spacing;
			}
		
			.item-thumbnail{
				display: block;
				float:left;
				margin-right: $base-spacing;
			}
		
			.item-title :first-of-type {
				font-size: 2rem;
				padding: $small-spacing 0;
			}
			.read-more{
			
			}
		
		.item-details{
			font-size: .8em;
			color: gray;
			
			.item-tags span{
				float:left;
				margin-right: $small-spacing;
			}
			ul{
				@extend .list--inline;
			}
		}
		
		.item-footer {
			padding: $small-spacing;
			height: $base-spacing * 2;
	
			border-style: solid;
			border-color: $bg-color;
			@include border-width(0 1px 1px 1px);
			@include border-bottom-radius($base-border-radius);
			
			.postmeta {
			}
			
			.sharing {
				float: right;
				.sharing-title{
					@extend .visuallyhidden;
				}
				ul li {
					display: inline-block;
				}
			}
		}

	}
}

// Navigation precedent/suivant
//
@import "components/navs/prev-next";
.nav_prev-next{
    margin-bottom: ($base-spacing * .8) ;
}

.composition_blog_post {
    .content-header {
        text-align: center;
        
        .nav_prev-next{
          padding-top: $base-spacing;
        }
    }
	
	.content-main .signature {
		@include clearfix;
	}
    .texte,
    .content-aside,
    .content-footer{
        //max-width: em(700px);
        //margin: 0 auto;
    }
}